.footer{
    background-color: var(--black-footer);
    color: var(--white);
    padding: 80px 64px;
    &__container{
        max-width: 1260px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 40px;
    }
    &__info{
        display: grid;
        grid-template-columns: repeat(12,80px);
        gap: 0 20px;
    }
    &__infoBox{
        grid-column: span 3;
        grid-row-end: span 2;
        display: flex;
        flex-direction: column;
        margin-bottom: 56px;
        &-heading{
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 800;
            color: var(--blue);
        }
        &-choose-languages{
            display: flex;
            align-items: center;
            margin-top: 24px;
        }
        &-choose-flag{
            display: flex;
        }
        &-choose-flag-image{
            width: 24px;
            height: 16px;
            margin-right: 8px;
        }
        &-eng{
            font-size: 14px;
            line-height: 18px;
        }
        &-icon-down{
            margin-left: 8px;
        }
        &-social{
            display: flex;
            margin-top: 24px;
            &-link + &-link{
                margin-left: 24px;
                display: block;
            }
        }
    }
    &__empty{
        grid-column: span 1;
        grid-row-end: span 2;
    }
    &__route{
        // width: 180px;
        grid-column: span 2;
        margin-bottom: 40px;
        &-heading{
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
            color: var(--blue);
            padding-top: 8px;  
        }

        &-text{
            text-decoration: none;
            color: var(--white);
            display: block;
            width: 100%;
            margin-top: 8px;
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__bottom{
        &-line{
            width: 100%;
            height: 1px;
            background-color: var(--blue);
            margin-bottom: 32px;
        }
        &-content{
            display: flex;
            justify-content: space-between;
        }
        &-logo{
            
        }
        &-btn{
            background-color: var(--blue);
            color: var(--white);
            &:hover{
                background-color: var(--blue-hover);
            }
        }
    }
}


/* PC: width >= 1024px */
@media only screen and (min-width: 1024px){
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .footer{
        padding: 80px 0 64px;
        &__container{
            padding: 0 40px;
        }
        &__info{
            display: grid;
            grid-template-columns: repeat(8,66px);
        }
        &_infoBox{
            grid-column: span 3;
        }
        &__route{
            grid-column: span 2;
        }
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px){
    .footer{
        padding: 80px 0 60px;
        &__container{
            padding: 0 24px;
        }
        &__info{
            display: grid;
            grid-template-columns: repeat(4,66px);
        }
        &__empty{
            display: none;
        }
        &__infoBox{
            grid-column: span 4;
        }
        &__route{
            grid-column: span 2;
        }
    }
}
