*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    background-color: white;
    
}
// .container{
//     max-width: 1180px;
//     padding: 0 40px; 
//     margin: 0 auto;
// }
img{
    display: block;
    max-width: 100%;
}

.header-background{
    background-color: var(--background);
    position: relative;
    width: 100%;
}
.grid-full{
        width: 100%;
        display: block;
        padding: 0;
}

