.create{
    &__container{
        max-width: 1260px;
        width: 100%;
        margin: 0 auto;
        padding: 120px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img{
        max-width: 678px;
        max-height: 440px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 380px;
        max-height: 440px;
    }
    &__heading{
        font-size: 48px;
        line-height: 1.4;
        font-weight: 700;
    }
    &__desc{
        margin-top: 24px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6;
    }
}
.hanging{
    background-color: var(--off-white);
    &__container{
        flex-direction: row-reverse;
    }
}

.stay{
    background-color: var(--off-white);
    &__container{
        flex-direction: column-reverse;
        text-align: center;
    }
    &__content{
        max-width: 960px;
    }
    &__heading{
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
    }
    &__desc{
        margin-top: 24px;
    }
    &__img{
        width: 100%;
        margin-top: 16px;
    }
}

.ready{
    background-color: var(--off-white);
   
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1260px;
        width: 100%;
        padding: 0 40px 120px;
        margin: 0 auto;
        position: relative;
    }
    &__heading{
        margin-top: 30px;
        font-size: 32px;
        font-weight: 600;
    }
    &__btn--download{
        max-width: 300px;
        background-color: var(--blue);
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        cursor: pointer;
        margin: 40px 0px 0px 0px ;
        &:hover{
            background-color: var(--blue-hover);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }
    }

    &__icon{
        color: #fff;
    }
    
    &__img{
        position: absolute;
        top: 0;
    }
}

/* PC: width >= 1024px */
@media  screen and (min-width: 1024px){
   
}

/* Tablet: width >= 740px and width < 1024px */
@media  screen and (min-width: 740px) and (max-width: 1023px){
    .create{
        &__container{
            padding: 56px 24px;
        }
        &__img{
            max-width: 330px;
        }
        &__content{
            max-width: 330px;
        }
    }
}

/* Mobile: width < 740px */
@media  screen and (max-width: 739px){
    .create{
        &__container{
            flex-direction: column;
            padding: 80px 40px;
        }
        &__img{
            max-width: 330px;
        }
        &__content{
            max-width: 330px;
        }
        &__heading{
            font-size: 20px;
        }
        &__desc{
            font-size: 16px;
        }
    }
}
