:root{
    --white: #fff;
    --black: #000;
    --background: #404eed;
    --blue: #5865f2;
    --blue-hover: #7983F5;
    --primary-color: #36393F;
    --black-footer: #23272A;
    --off-white: #F6F6F6;
    --font-headline: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}